* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 242, 227);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#incrementar {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#incrementador:hover {
    background-color: #45a049;
}

#bloque-contar {
    margin-top: 20px;
}