# --- Backend (Spring Boot / Maven) ---
**/target/
!**/.mvn/wrapper/maven-wrapper.jar

# --- Frontend (Preparación para futura fase React) ---
**/node_modules/
**/dist/
**/.next/

# --- IDEs y Editores ---
**/.idea/
**/*.iws
**/*.iml
**/*.ipr
**/out/
**/.vscode/

# --- Binarios y Logs ---
**/*.class
**/*.log
**/*.jar
**/*.war
**/hs_err_pid*

# --- Entorno y SO ---
.env
**/.DS_Store
**/Thumbs.db